<?xml version="1.0" encoding="UTF-8"?>
<config>
  <item id="dataoverheid" type="organisation">
    <nl_organisationName>Kennis- en exploitatiecentrum voor Officiële Overheidspublicaties</nl_organisationName>
    <nl_organisationPublishURL>https://data.overheid.nl/</nl_organisationPublishURL>
    <postProcess>
      <item class="code">window.respecMermaid.createFigures</item>
    </postProcess>
    <doJsonLd class="code">true</doJsonLd>
    <specStatusText>
      <en>
        <geen>None</geen>
        <basis>Document</basis>
        <ld>Living document</ld>
        <cv>Candidate recommendation</cv>
        <def>Recommendation</def>
        <vv>Proposed recommendation</vv>
        <wv>Editor’s draft</wv>
      </en>
      <nl>
        <geen>Geen</geen>
        <basis>Document</basis>
        <ld>Levend document</ld>
        <cv>Consultatieversie</cv>
        <def>Vastgestelde versie</def>
        <vv>Versie ter vaststelling</vv>
        <wv>Werkversie</wv>
      </nl>
    </specStatusText>
    <labelColor>
      <geen>#000000</geen>
      <basis>#80CC28</basis>
      <ld>#80CC28</ld>
      <cv>#045D9F</cv>
      <def>#045D9F</def>
      <vv>#045D9F</vv>
      <wv>#FF0000</wv>
    </labelColor>
    <specTypeText>
      <en>
        <geen>None</geen>
        <no>Norm</no>
        <st>Standard</st>
        <im>Information model</im>
        <pr>Guideline</pr>
        <hr>Guide</hr>
        <wa>Working arrangement</wa>
        <al>General</al>
        <bd>Governance documentation</bd>
        <bp>Best practice</bp>
      </en>
      <nl>
        <geen>Geen</geen>
        <no>Norm</no>
        <st>Standaard</st>
        <im>Informatiemodel</im>
        <pr>Praktijkrichtlijn</pr>
        <hr>Handreiking</hr>
        <wa>Werkafspraak</wa>
        <al>Algemeen</al>
        <bd>Beheerdocumentatie</bd>
        <bp>Best practice</bp>
      </nl>
    </specTypeText>
    <licenses>
      <item name="geen">
        <name>Geen</name>
      </item>
      <item name="cc0">
        <name>Creative Commons 0 Public Domain Dedication</name>
        <short>CC0</short>
        <url>https://creativecommons.org/publicdomain/zero/1.0/</url>
        <image>https://tools.geostandaarden.nl/publication/organisation/dataoverheid/cc-zero.svg</image>
      </item>
      <item name="cc-by">
        <name>Creative Commons Attribution 4.0 International Public License</name>
        <short>CC-BY</short>
        <url>https://creativecommons.org/licenses/by/4.0/legalcode</url>
        <image>https://tools.geostandaarden.nl/publication/organisation/dataoverheid/cc-by.svg</image>
      </item>
      <item name="cc-by-nd">
        <name>Creative Commons Naamsvermelding-GeenAfgeleideWerken 4.0 Internationaal</name>
        <short>CC-BY-ND</short>
        <url>https://creativecommons.org/licenses/by-nd/4.0/legalcode.nl</url>
        <image>https://tools.geostandaarden.nl/publication/organisation/dataoverheid/cc-by-nd.svg</image>
      </item>
    </licenses>
  </item>
  <item id="dataoverheid" type="workflow">
    <!-- gegevens navragen -->
    <github>
      <organisation>dataoverheid</organisation>
    </github>
    <ftp>
      <item>
        <server>test.docs.geostandaarden.nl</server>
        <username>documenten-test</username>
        <url>https://test.docs.geostandaarden.nl/</url>
      </item>
      <item>
        <server>docs.geostandaarden.nl</server>
        <username>documenten</username>
        <url>https://docs.geostandaarden.nl/</url>
      </item>
      <item>
        <server>tools.geostandaarden.nl</server>
        <username>tools</username>
        <url>https://tools.geostandaarden.nl/</url>
      </item>
    </ftp>
  </item>
</config>
